.container{
    width: 1200px;
    margin: auto;
}

.navbar{
    background-color: gold;
}

.card{
    width: 375px;
    height: 500px;
    padding: 20px;
    margin: 20px;
    float: left;
}
.nav-item{
    width: 500px;
}

.image{
    width: 500px;
    padding: 10px;
    margin: 10px;
}

.d-block{
    height: 400px;
}